html {
  height: 100%;
  width: 100%;
}
main{
  diplay: flex;
}
img {
  width: 100px;
  height: auto;
  border-radius: 50px;
  float: left;
  margin-right: 30px;

}
p.username {
  font-weight: bold;
}
.ribbon {
  display: flex; /* Make the childeren sit side by side */
  align-items: center; /* aligns the items vertically */
  gap: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  height: 100px;
  width: 100%;
  border: 20px;
}
body {
  margin: 0;
  padding: 0;
}
